.form-group.error input,
.form-group.error select {
  border-color: rgb(204, 1, 1);
}

.error-message {
  color: rgb(204, 1, 1);
  font-size: 14px;
  margin-top: 4px;
}

.evaluator-section-container section {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  max-width: 100vw; /* Ensures no overflow even with scrollbars */
  padding: 10vh 15vw;
  background-color: #dbd0c2;
}

.evaluator-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-content: space-between;
}

/* Pushes buttons to the bottom */
@media (max-width: 768px) {
  .evaluator-section-container section {
    height: 100vh;
  }
}
