.navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  /* align-self: center; */
  /* margin: 0 auto; */
}

.btn {
  padding: 20px 0;
  width: 130px;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  font-size: 16px;
  transition: all 0.2s ease;
}

.btn.back {
  background-color: #f2f2f2;
  color: #333;
}

.btn.back:hover {
  background-color: #e0e0e0;
}

.btn.next {
  background-color: #612916;
  color: white;
}

.btn.next:hover:enabled {
  background-color: #9d8062;
}

/* Disabled state styling */
.navigation-buttons button:disabled {
  background-color: #612916; /* light gray */
  color: white; /* darker gray for text */
  cursor: not-allowed;
  opacity: 0.6;
}

.btn.submit {
  background-color: #136d29;
  color: white;
}

.btn.submit:hover {
  background-color: #a86833;
}
