.step-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
  width: 70vh;
  align-content: center;
  /* margin: 0 auto; */
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap; /* for mobile */
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative; /* make select position relative to the caret icon */

  /* flex: 1;  */
  /* makes all inputs in a row equal width */
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group input,
select {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-group select {
  color: rgb(109, 109, 109);
  appearance: none; /* disables the select caret */
}

.long-field {
  /* flex-grow: 1; */
  flex: 1;
  /* flex: 1 1 auto; default, takes remaining space */
}

.short-field {
  /* flex: 0 0 80px; do not grow or shrink, fixed width */
  width: 150px;
  /* flex: 0; */
}

.caret-down-icon {
  position: absolute;
  right: 15px; /* distance from the right edge */
  top: 50%;
  transform: translateY(-50%); /* centers the icon vertically */
  pointer-events: none; /* clicks go through to select */
  color: #555;
  margin-top: 13px; /* accounts for label height */
}

/* Mobile: stack everything vertically */
@media (max-width: 768px) {
  .step-card {
    width: 100%;
    align-content: center;
  }

  .form-row {
    flex-direction: column;
    gap: 30px;
  }

  .caret-down-icon {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 13px;
  }
}
