.more-margin {
  margin-top: 14px;
  margin-bottom: 4px;
}

.step-subtitle {
  font-size: 15px;
  color: #6b6b6b;
  margin-top: -10px;
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group input,
.form-group select {
  padding: 13px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  background: white;
}

.form-group.error input,
.form-group.error select {
  border-color: #c40000;
}

.error-message {
  color: #c40000;
  font-size: 14px;
  margin-top: 5px;
}

/* Checkbox rows */
.checkbox-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
  font-size: 16px;
}

.less-margin {
  margin-top: -20px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.less-margin-top {
    margin-top: -15px;
}

/* .checkbox-row input[type="checkbox"] {
  width: 20px;
  height: 20px;
} */

/* Error style for checkbox */
.checkbox-row.error {
  color: #c40000;
}

/* Responsive */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}
