.property-type-cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
}

.property-card {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;

  padding: 30px;
  border: 2.5px solid #bba283;
  border-radius: 22px;
  width: 210px;
  cursor: pointer;

  font-size: 1.2rem;
  font-weight: 600;

  transition: all 0.25s ease;
  background: white;
}

.property-card p {
  margin: 0;
}

.property-card:hover {
  border-color: #b9a37c;
  transform: translateY(-3px);
}

.property-card.selected {
  border-color: #b38a57;
  background-color: #f1e7d8;
  color: #5a4328;
}
