.news-section-container section {
  width: 100%;
  max-width: 100vw;
  /* Ensures no overflow even with scrollbars */
  padding: 10vh 15vw;
  background-color: #dbd0c2;
}

.news-container {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.envelope-icon {
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  z-index: 0;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.envelope-icon.left {
  top: 40%;
  left: 3%;
  transform: translateY(-50%) rotate(-25deg);
}

.envelope-icon.right {
  top: 70%;
  right: 11%;
  transform: translateY(-50%) rotate(20deg);
}

.new-box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  z-index: 1;
}

.news-title {
  color: #612916;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}

.news-subtitle {
  color: #612916;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.news-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 5px;
}

.news-input {
  flex-grow: 1;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  outline: none;
  background: transparent;
}

.news-button {
  background-color: #724c3a;
  color: #ffffff;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.news-button:hover {
  background-color: #612916;
}

@media (max-width: 768px) {
  .new-box {
    padding: 30px 20px;
  }

  .news-title {
    font-size: 1.8rem;
  }

  .news-subtitle {
    font-size: 1rem;
  }

  .news-form {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .news-input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .news-button {
    width: 100%;
    padding: 15px;
  }

  .envelope-icon {
    display: none;
  }
}