/* Newsletter.css */
.news-section-container section {
    width: 100%;
    padding: 10vh 0;
    background-color: #dbd0c2;
}

.news-container {
    padding: 50px 15vw;
    position: relative;
    overflow: hidden;
    max-width: 100vw;
}

.new-box {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 1;
}

.envelope-icon {
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    z-index: 0;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
    height: auto;
    opacity: 0.8;
}

.envelope-icon.left {
    top: 50%;
    left: calc(-160px);
    transform: translateY(-50%) rotate(-25deg);
}

.envelope-icon.right {
    top: 70%;
    right: calc(-105px);
    transform: translateY(-50%) rotate(20deg);
}

.news-title {
    color: #612916;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.news-subtitle {
    color: #612916;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.news-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 5px;
}

.news-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    font-size: 1rem;
    outline: none;
    background: transparent;
}

.news-button {
    background-color: #724c3a;
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.news-button:hover {
    background-color: #612916;
}

@media (min-width: 1200px) {
}

@media (max-width: 1024px) {
    .news-container {
        padding: 50px 10vw;
    }

    
    .envelope-icon.left {
        left: calc(-110px);
        top: calc(130px);
        width: 225px;
    }
    
    .envelope-icon.right {
        right: calc(-100px);
        width: 200px;
    }
}

@media (max-width: 768px) {
    .news-section-container section {
        padding: 8vh 0;
    }
    
    .news-container {
        padding: 40px 5vw;
    }

    .new-box {
        padding: 30px 20px;
    }

    .news-title {
        font-size: 1.8rem;
    }

    .news-subtitle {
        font-size: 1rem;
    }

    .news-form {
        flex-direction: column;
        gap: 15px;
        padding: 0;
        background-color: transparent; 
        border-radius: 0;
        max-width: 350px;
    }

    .news-input {
        padding: 15px;
        border: 1px solid #ccc; 
        border-radius: 30px; 
        background-color: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .news-button {
        width: 100%;
        padding: 15px;
    }

    .envelope-icon {
        display: none; 
    }
}

@media (max-width: 500px) {
    .news-section-container section {
        padding: 5vh 0; 
    }

    .news-container {
        padding: 30px 3vw;
    }

    .new-box {
        padding: 20px 10px; 
    }
    
    .news-title {
        font-size: 1.6rem;
    }
    
    .news-subtitle {
        font-size: 0.9rem;
    }
    
    .news-form {
        max-width: 100%;
    }
}