/* Steps.css */
section {
  width: 100%;
  max-width: 100vw; /* Ensures no overflow even with scrollbars */
  padding: 10vh 10vw;
  background-color: #dbd0c2;
}

.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.steps-header {
  text-align: center;
  margin-bottom: 70px;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  color: #612916;
  margin: 0;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: #9d8062;
  margin: 0;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards-container {
  display: grid;
  /* grid-auto-columns: repeat(auto-fill, minmax(350px, 1fr)); */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 40px;
  width: 100%;
  min-height: 250px;
  min-width: 250px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 25px 0;
}

.card-title {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.card-description {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
}

.card-icon {
  margin-top: auto;
  align-self: flex-end;
}

/* Responsiveness ---------------------- */
@media (min-width: 1700px) {
  .grid-wrapper {
    max-width: 50vw;
  }
}

@media (max-width: 992px) {
  /* section {
    padding: 10vh 5vw;
  } */

  .cards-container {
    grid-template-columns: 1fr;
    padding: 0 100px;
    gap: 20px;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 660px) {
  .cards-container {
    padding: 0 10vw;
  }

  .card {
    padding: 20px;
  }

  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .card-description {
    font-size: 1rem;
  }

  .card-icon {
    width: 100px;
    height: 100px;
  }
}

/* Prev version without columns -------------------------------------------- */

/* Steps.css */
/* .steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f9;
}

.steps-header {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.25rem;
  color: #777;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 48px;
  margin-bottom: 10px;
  padding: 0 35px;
  width: 30%;
  box-sizing: border-box;
}

.card-text {
  margin-bottom: 50px;
}

.card-title {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.card-description {
    margin-top: 10px;
  font-size: 1rem;
  color: #555;
}

.card-icon {
    margin-top: auto;
  text-align: end;
  justify-self: flex-end;
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 20px;
  }
} */
