/* Steps.css */
.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f9;
}

.steps-header {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.25rem;
  color: #777;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards-container {
  display: grid; /* Passiamo a grid per una gestione più flessibile delle colonne */
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Colonne automatiche con larghezza minima di 300px */
  gap: 20px;
  width: 100%;
  min-height: 300px;
  padding: 20px; /* Aggiungi padding per migliorare il layout */
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 48px;
  margin-bottom: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.card-text {
  margin-bottom: 50px;
}

.card-title {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.card-description {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
}

.card-icon {
  margin-top: auto;
  text-align: end;
  justify-self: flex-end;
}

/* Responsività */
@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr; /* Una sola colonna su dispositivi piccoli */
    gap: 10px;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .steps-container {
    padding: 10px; /* Aggiustamento del padding per schermi molto piccoli */
  }

  .title {
    font-size: 1.8rem; /* Riduzione della dimensione del titolo */
  }

  .subtitle {
    font-size: 1.1rem; /* Riduzione della dimensione del sottotitolo */
  }
}

/* Versione precedente senza columns -------------------------------------------- */

/* Steps.css */
/* .steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f9;
}

.steps-header {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.25rem;
  color: #777;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 48px;
  margin-bottom: 10px;
  padding: 0 35px;
  width: 30%;
  box-sizing: border-box;
}

.card-text {
  margin-bottom: 50px;
}

.card-title {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.card-description {
    margin-top: 10px;
  font-size: 1rem;
  color: #555;
}

.card-icon {
    margin-top: auto;
  text-align: end;
  justify-self: flex-end;
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 20px;
  }
} */
